<div class="container">
  <div class="row">
      <div class="col-xs-6">
        <span><%= image_tag @product.get_image(300, 300) %></span>
        
        <h3><%= @product.name %></h3>
        
        <h6><%= @product.caption %></h6>
        <br>
        <h4><%= number_to_currency(@product.with_tax_price, strip_insignificant_zeros: true, :unit => "￥") %>(税込み)</h4>
        
        <p>
        <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.select :quantity, [['1',1], ['2',2], ['3',3], ['4',4], ['5',5], ['6',6], ['7',7], ['8',8], ['9',9], ['10',10]], include_blank: "個数選択" %>
        <%= f.submit 'カートに入れる' %>
        <% end %>
        </p>
      </div>
  </div>
</div>

