 <div class="container">
   <div class="row" >
     <div class="col-xs-4">
        <h1>商品編集</h1>
        <%= form_with model: @product, url: admin_product_path, method: :patch do |f| %>
        
        <h4>商品画像</h4>
         <%= f.file_field :image, accept: 'image/*' %>
        <h4>商品名</h4>
           <%= f.text_field :name %>
        <h4>商品説明</h4>
           <%= f.text_area :caption %>
        <h4>ジャンル</h4>
           <%= f.collection_select :genre_id, @genres, :id, :name %>
        <h4>税抜価格</h4>
           <%= f.number_field :price %>
        <h4>販売ステータス</h4>
            <%= f.select :sales_status ,[['販売中',true],['販売停止中',false]] %>
        <br>
        <br>
        
        <%= f.submit '変更を保存', class:"btn btn-primary" %>
        
        <% end %>
     </div>
  </div>
</div>
