<h2>注文情報入力</h2>


    <div>
        <h3>支払方法</h3>
        <%= form_with model: @order, url: check アクションにつながるパス, local: true do |f| %>
    　　<div>
        <%= f.radio_button :payment_method, "credit_card" %>
        <%= f.label :payment_method, "クレジットカード" %>
        </div>
        
        <div>
        <%= f.radio_button :payment_method, "transfer" %>
        <%= f.label :payment_method, "銀行振込" %>
        </div>
    </div>
    
    <div>
        <h3>お届け先</h3>
        <%= form_with model: @order, url: check アクションにつながるパス, local: true do |f| %>
        <!-- customer テーブルに登録されている住所の場合です -->
          <%= f.radio_button :address_number, 1 %> <!-- address_number と定義して1～3の番号を check に送ります -->
          <%= f.label :address_number_1, "ご自身の住所" %>
          <%= current_customer.customer_address %>

<!-- 登録されたaddressから選んでもらう場合です -->
          <%= f.radio_button :address_number, 2 %>
          <%= f.label :address_number_2, "登録先の住所" %>
          <%= f.collection_select(:registered, current_customer.addresses.all, :id, :address %>
<!-- registered として current_customer.address.all で取得した id を送ります。
     ユーザーに表示して選択してもらうのは address です -->
<!-- ドロップダウンを選択したら自動でラベルも選択されるようにしたかったのですが、現状ではわかりませんでした -->

<!-- 新しい住所を追加する場合です -->
  <%= f.radio_button :address_number, 3 %>
  <%= f.label :address_number_3, "新しいお届け先" %>
  <%= f.label :address, "住所" %>
  <%= f.text_field :address %>
  <%= f.label :address_name, "宛名" %>
  <%= f.text_field :address_name %>
<!-- 選んでもらったデータを送ります -->
  <%= f.submit "確認画面へ進む" %>
<% end %>
        
    </div>